# Block direct access to multiple files
#<FilesMatch "^(auth\.php|permissions\.php|file2\.php|file3\.php)$">
 #   Require all denied
#</FilesMatch>

# Block access to multiple folders (zzz, zbackup)
#RewriteEngine On
#RewriteRule ^(zzz|zbackup)/ - [F,L]

 

# Enable RewriteEngine
RewriteEngine On

# Block access to specific PHP files
<FilesMatch "^(auth\.php|permissions\.php|file2\.php|file3\.php)$">
    Require all denied
</FilesMatch>

# # Block access to specific directories: zzz, images, zbackup
# RewriteRule ^(zzz|images|zbackup)/ - [F,L]

# Disable directory indexing to prevent directory listings
Options -Indexes

# Rewrite rules for URL redirection
# path tool tip will not be shown
# Redirect /register-player to /badminton_tournament/register_player.php
RewriteRule ^register-player$ /badminton_tournament/register_player.php [L,QSA]

# Redirect /about to /badminton_tournament/about.php
RewriteRule ^about$ /badminton_tournament/about.php [L,QSA]

# Add more rules as needed 
