# Block direct access to multiple files
<FilesMatch "^(auth\.php|permissions\.php|file2\.php|file3\.php)$">
    Require all denied
</FilesMatch>

# Block access to multiple folders (zzz, images, zbackup)
RewriteEngine On
RewriteRule ^(zzz|images|zbackup)/ - [F,L]

 